.App {
  color: gainsboro;
  height: 100vh;
  background-color: black;
  padding-top: 150px;
}

.token-data {
  font-size: 60px;
  padding-left: 400px;
}

p {
  margin-bottom:20px;
}

.mint-tokens {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  text-align: center;
}

.mint-tokens > textarea,  .mint-button {
  background-color: gainsboro;
  align-items: center;
  border: 3px solid black;
  font-size: 150%;
  color: black;
}

textarea {
  outline: none;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  width: 600px;
}

.mint-button {  
  cursor: pointer;
  width: 300px;
}

.mint-button:disabled {
  cursor: auto;
}

.loader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}
